/* 
   CSS File for SerialConsole
   Author - WireBits
*/

body {
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    border: 2px solid #FFBF00;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 5px;
    user-select: none;
}

.console {
    width: 95vw;
    max-width: 1500px;
    height: 450px;
    border: 2px solid #0FFF50;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 95vw;
    max-width: 1500px;
    margin-top: 10px;
}

.input-box {
    flex: 1;
    min-width: 0;
    height: 30px;
    border: 2px solid #D648D7;
    border-radius: 5px;
    padding: 5px;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 2px solid transparent;
}

#sendButton {
    background-color: #000000;
    color: #0C873F;
    border-color: #0C873F;
}

#clearButton {
    background-color: #000000;
    color: #FF033E;
    border-color: #FF033E;
}

#connectButton {
    background-color: #000000;
    color: #7CB9E8;
    border-color: #7CB9E8;
}

select {
    background-color: #000000;
    color: white;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #FFC72C;
}
